.nav-list{
	list-style: none;
	overflow: hidden;
}

.nav-list li{
	float: left;
	margin: 0 10px;
}

.nav-list li a{
	color: #aaa;
	font-size: 20px;
	text-decoration: none;
}

.nav-list li a.active,
.nav-list li a:hover{
	color: #000;
}

.eachBox{
	margin-right: 10px;
	display: inline-block;
	width: 620px
}

.eachBox textarea{
	width: 600px;
    padding: 4px 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    color: #333;
    margin-bottom: 7px;
    height: 500px;
    resize: none;
}

.list-sublink{
	overflow: hidden;
}

.list-sublink li{
	list-style: none;
	float: left;
	margin: 0 10px;
}

.list-sublink a{
	text-decoration: none;
	font-size: 16px;
	color: #111;
}

.list-sublink a.active,
.list-sublink a:hover{
	color: #023093;
}

.lblChooseTopic{
	margin-left: 50px;
}
