.nav-list{
	list-style: none;
	overflow: hidden;
}

.nav-list li{
	float: left;
	margin: 0 10px;
}

.nav-list li a{
	color: #aaa;
	font-size: 20px;
	text-decoration: none;
}

.nav-list li a:hover{
	color: #000;
}